//- index.pug
extends layout

block content
  h2 Personas:
  .btn-group.float-right.mb-5(role='group')
    a.btn.btn-primary.btn-md(href='/nuevo')
      i.fa.fa-plus Nueva Persona
  
  table.table.mt-3
    thead
      tr
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Apellido
        th(scope='col') Teléfono
        th(scope='col') Acciones
    tbody
      each persona in personas
        tr
          th(scope='row')= persona.id
          td= persona.nombres
          td= persona.apellidos
          td= persona.telefono
          td
            .btn-group(role='group')
              a.btn.btn-primary(href='/perfil/' + persona.id)
                i.fas.fa-eye
                |  Ver
              a.btn.btn-warning(href='/editar/' + persona.id)
                i.fas.fa-user-edit
                |  Editar
              a.btn.btn-danger(href='/eliminar/' + persona.id )
                i.fas.fa-user-edit
                |  Eliminar
